<h3>I am in learning component</h3>
<app-session></app-session>
<p>I am getting called from learning.</p>
<hr>
<h3>Binding</h3>
<p>{{ type1 }}</p>
<p> {{ getString() }}</p>
<p>Property binding</p>
<input type="text" [(ngModel)]="sectionsName">
<p>{{sectionsName}}</p>
<p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{green : showText === true }">Dynamic style</p>
<button class="btn btn-primary" [disabled]='allowButton' (click)="addALine()">Add Line</button>
<app-sections *ngFor="let sectionsName of sections"></app-sections>
<button class="btn btn-primary" (click)="onButtonClick()">click me</button>
<p *ngIf="showText; else markup">click again to {{textValue}} me</p>
<!-- ng-template is a direction whih is used to mark places in the dom -->
<ng-template #markup>
    <p>
        Click to see!(from the #markup)
    </p>
</ng-template>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>Add teams</p>
            <label>Player Name</label>
            <input type="text" class="form-control" [(ngModel)]="playerName">
            <label>Player Age</label>
            <input type="number" class="form-control" [(ngModel)]="playerAge">
            <br>
            <button class="btn btn-primary" (click)="addTeamOnePlayers()">Team 1</button>
            <button class="btn btn-primary" (click)="addTeamTwoPlayers()">Team 2</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-6">
            <h2>Team 1</h2>
            <div class="panel panel-default" *ngFor="let element of teams1">
                <div class="panel-heading">{{ element.name }}</div>
                <div class="panel-body">
                    <p>
                        <strong [ngStyle]="{color: element.age>30 ? 'blue' : 'red'}">{{ element.content }}</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h2>Team 2</h2>
            <div class="panel panel-default" *ngFor="let element of teams2">
                <div class="panel-heading">{{ element.name }}</div>
                <div class="panel-body">
                    <p>
                        <strong [ngStyle]="{color: element.age>30 ? 'blue' : 'red'}">{{ element.content }}</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>