<h3>I am in learning component</h3>
<p>I am getting called from learning.</p>
<hr>
<h3>Binding</h3>
<p>{{ type1 }}</p>
<p> {{ getString() }}</p>
<p appCustomDirective [defaultColor] = "'yellow'" [highlightedColor]="'red'">Using Custom Directive</p>
<input type="text" [(ngModel)]="sectionsName">
<p>{{sectionsName}}</p>
<p [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{green : showText === true }">Dynamic style</p>
<button class="btn btn-primary" [disabled]='allowButton' >Add Line</button>
<button class="btn btn-primary" (click)="onButtonClick()">click me</button>
<p *ngIf="showText; else markup">click again to {{textValue}} me</p>
<!-- ng-template is a direction whih is used to mark places in the dom -->
<ng-template #markup>
    <p>
        Click to see!(from the #markup)
    </p>
</ng-template>
<p *appCustomStructuralDirective="showText">Structural Directve behaving opposite to the above ng-if</p>
<hr>